{% extends 'base.html' %}

{% block title %} 
Login Page
{% endblock %} 

{% block body %} 
    <div class="container">
        <form method="POST" class="form-register">
            {{form.hidden_tag()}}
            {{form.username.label}}
            {{form.username(class="form-control", placeholder="Username")}}
            {{form.password.label}}
            {{form.password(class="form-control", placeholder="Password")}}
            <br>
            <span>
                <h4>Don't have an account?</h4>
                <a class="nav-link" href="{{url_for('register_form')}}">Register</a>
            </span>
            {{form.submit(class="btn btn-primary")}}
        </form>
    </div>
{% endblock %} 